extends ../exten/maintemp.jade

block content
	div(style="padding:20px;")
		.help-hint.help-hint__blue.help-hint__tl
			.help-hint_text.
				The details about the product
				go here. You can use jquery
				to enhance this feature.
			a.help-hint__close Close
	div(style="padding:20px;")
		.help-hint.help-hint__orange.help-hint__tr
			.help-hint_text.
				You are going to delete this 
				item. Are you sure you want to
				do this?
			a.help-hint_but.help-hint_but__left yes
			a.help-hint_but.help-hint_but__right cansel
