extends ../exten/maintemp.jade

block header
	.heading.black-gradient
		a.title-page.title-page__login
			span.bolder watt
			img(src="#{path_icons}light-bulb.png" alt='').title-page__bulb
			|admin
block content
	.content
		.float-box
			form.login-box.dark-gradient
				fieldset
					.login-form_heading.dark-gradient.login-form_heading__key
						.login-form_heading_inner
							|login
					.login-box_inner
						.login-form
						
							.login-form_box-element
								label.login-form_label Username
								input(type="text").login-form_input
								label.login-form_label Password
								input(type="text").login-form_input
								a.login-form_link Remember me ?
								input(type="checkbox", checked).login-form_checkbox
								a.login-form_link forgot password?
							input(type="submit"  value="login").login-form_submit
			.login-form_message.login-form_message__error 
				|Wrong username or password.